<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .main-content {
            background-color: #f8f9fa;
            padding: 30px;
            padding-top: 30px;
            min-height: 100vh;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span id="navbar-usernameAndRoles" class="navbar-brand"></span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <form action="/logout" method="post" class="d-inline">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row p-0">
        <div class="col-2 mt-3 p-0">
            <div class="list-group">
                <a href="#admin-panel" class="list-group-item list-group-item-action active" data-toggle="tab">Admin</a>
                <a href="#user-panel" class="list-group-item list-group-item-action" data-toggle="tab">User</a>
            </div>
        </div>

        <div class="col-10 main-content">
            <div class="tab-content">
                <div id="admin-panel" class="tab-pane fade show active">
                    <h2>Admin panel</h2>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="usersTable-tab" href="#usersTable" role="tab"
                               data-toggle="tab">Users
                                table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="newUser-tab" href="#newUser" role="tab" data-toggle="tab">New
                                User</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel">
                            <div class="card">
                                <div class="card-header font-weight-bold">
                                    All users
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Username</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="users-list">

                                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="formEditUser">
                                                                <input type="hidden" id="edit-user-id">
                                                                <div class="form-group text-center">
                                                                    <label for="idEdit"
                                                                           class="font-weight-bold">ID</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="idEdit" readonly>
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="firstnameEdit" class="font-weight-bold">First
                                                                        Name</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="firstnameEdit">
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="lastnameEdit" class="font-weight-bold">Last
                                                                        Name</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="lastnameEdit">
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="usernameEdit" class="font-weight-bold">Username</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="usernameEdit">
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="passwordEdit" class="font-weight-bold">Password</label>
                                                                    <input type="password"
                                                                           class="form-control w-50 mx-auto"
                                                                           id="passwordEdit">
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="allRoles"
                                                                           class="font-weight-bold">Role</label>
                                                                    <select multiple class="form-control w-50 mx-auto"
                                                                            id="allRoles" style="height: 60px;">
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary"
                                                                    onclick="updateUser()">Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Delete
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="formDeleteUser">
                                                                <div class="form-group text-center">
                                                                    <label for="idDelete"
                                                                           class="font-weight-bold">ID</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="idDelete" readonly>
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="firstnameDelete"
                                                                           class="font-weight-bold">First
                                                                        Name</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="firstnameDelete" readonly>
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="lastnameDelete"
                                                                           class="font-weight-bold">Last
                                                                        Name</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="lastnameDelete" readonly>
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="usernameDelete"
                                                                           class="font-weight-bold">Username</label>
                                                                    <input type="text" class="form-control w-50 mx-auto"
                                                                           id="usernameDelete" readonly>
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <label for="userRolesDelete"
                                                                           class="font-weight-bold">Roles</label>
                                                                    <select multiple class="form-control w-50 mx-auto"
                                                                            id="userRolesDelete" style="height: 60px;"
                                                                            disabled>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-danger"
                                                                    onclick="confirmDeleteUser()">Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="newUser" role="tabpanel">
                            <div class="card">
                                <div class="card-header font-weight-bold">
                                    Add new user
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <form id="addUserForm">
                                            <div class="form-group text-center">
                                                <label for="firstname" class="font-weight-bold">First name</label>
                                                <input type="text" class="form-control w-25 mx-auto" id="firstname"
                                                       placeholder="First name">
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="lastname" class="font-weight-bold">Last Name</label>
                                                <input type="text" class="form-control w-25 mx-auto" id="lastname"
                                                       placeholder="Last name">
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="username" class="font-weight-bold">Username</label>
                                                <input type="text" class="form-control w-25 mx-auto" id="username"
                                                       placeholder="Username">
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="password" class="font-weight-bold">Password</label>
                                                <input type="password" class="form-control w-25 mx-auto" id="password"
                                                       placeholder="Password">
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="roles" class="font-weight-bold">Role</label>
                                                <select multiple class="form-control w-25 mx-auto" id="roles"
                                                        style="height: 60px;">
                                                </select>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-success" onclick="addUser()">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="user-panel" class="tab-pane fade">
                    <h2>User information-page</h2>
                    <div class="card">
                        <div class="card-header font-weight-bold">About user</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="authUser-info"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/authUserInfo.js"></script>
<script src="/usersTable.js"></script>
<script src="/addNewUser.js"></script>
<script src="/editUser.js"></script>
<script src="/deleteUser.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
